/* @import 'antd/dist/antd.css'; */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*:after {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image: url("./img/BodyRegiLogin.svg");
}

::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  display: inline-flex;
  justify-content: space-between;
}

.Rectangle_1 {
  width: 849px;
  height: 849px;
  transform: rotate(-42.769deg);
  flex-shrink: 0;
  border-radius: 200px;
  background: rgba(184, 171, 239, 0.10);
  position: relative;
}

.Logo{
  width: 345px;
height: 109px;
top: 35px;
left: 42px;

}
/* .Rectangle_1 {
  top: 374.51px;
  left: -585px;
  float: right;
} */

.RegistrationForm {
  
  width: 35%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 17px 40px 4px rgba(112, 144, 176, 0.11);
  padding-bottom: 52px;
  margin-top: 42px;
  margin-bottom: 50px;
}

.RegistrationForm .Logo img {
  height: 110px;
  width: 263px;
  float: left;
  top: 0;
  left: 20px;
  position: relative;
}

.RegistrationForm .Logo {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #E9EDF7;
  display: inline-block;
}

.RegistrationForm h1 {
  color: #1B2559;
  font-family: Unbounded;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  text-align: left;
  padding: 30px 40px;
}

.AutthorizationForm {
  padding: 40px;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 100%;
}

.RegistrationForm input,button {
  display: block;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  color: black;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 23px;
  border: 1px solid #E2E8F0;
  box-shadow: 14px 17px 40px 0px #7090B014;
  border-radius: 10px;
}
.EnterBtn{
  background: linear-gradient(15deg, #4A25E1 26.3%, #7B5AFF 86.4%);
  color: #FFF;
  font-weight: 600;
  box-shadow: 0px 21px 27px -10px rgba(96, 60, 255, 0.48);
}
.EnterBtn,.EnterGoogleBtn {
  font-family: Unbounded;
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
  margin-bottom: 42px;
}
.EnterGoogleBtn {
  color: #1B2559;
  font-weight: 500;
  border: 2px solid rgba(96, 61, 240, 0.48);
  background-color: white;
}
.EnterGoogleBtn:hover{
  background-color: #4A25E1;
}
.EnterBtn:hover{
  background-color: white;
  box-shadow: none;
  color: #1B2559;
  border: 2px solid rgba(96, 61, 240, 0.48);
}
.RegistrationBtn:hover{
  border: 2px solid rgba(96, 61, 240, 0.48);
}
.RegistrationForm input::placeholder {
  color: rgba(27, 37, 89, 0.65);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.RegisterText{
  color: rgba(27, 37, 89, 0.65);
  font-family: Unbounded;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}
